
### <center> <b> <span style="color:blue;"> Travaux Pratiques: Variables, Types & Opérations </span> </b></center>

**Exercise 00:**  
>

  
> 1. Déclarez une variable `prenom` et attribuez-lui une valeur.
  > 2. Déclarez une variable `nom` et attribuez-lui une valeur.
  > 3. Déclarez une variable `prenom_nom` et attribuez-lui une valeur.
  > 4. Déclarez une variable `pays` et attribuez-lui une valeur.
  > 5. Déclarez une variable `ville` et attribuez-lui une valeur.
  > 6. Déclarez une variable `age` et attribuez-lui une valeur.
  > 7. Déclarez une variable `annee` et attribuez-lui une valeur.
  > 8. Déclarez une variable `est_marie` et attribuez-lui une valeur.
  > 9. Déclarez une variable `est_vrai` et attribuez-lui une valeur.

> Pour chacune des variables ci-dessus, affichez la valeur qu'elle contient à l'aide de la fonction `print()`.

In [ ]:
prenom = "Diane"
nom = 'TETEDE'
prenom_nom = prenom + " " + nom
pays = 'Slovénie'
ville = "Bled"
age = 18
annee = 2021
est_marie = "Rouge"
est_vraie = True
print(prenom)
print('\n')
print(nom)
print('\n')
print(prenom_nom)
print('\n')
print(pays)
print('\n')
print(ville)
print('\n')
print(age)
print('\n')
print(annee)
print('\n')
print(est_marie)
print('\n')
print(est_vraie)

**Exercise 01:** 
> Vérifiez le type de données de toutes vos variables à l'aide de la fonction intégrée `type()`.**

In [ ]:
type(prenom)
type(nom)
type(nom_prenom)
type(ville)
type(age)
type (annee)
type(est_marrie)
type(est_vrai)
# Décommenter pour avoir le type

**Exercise 02:** 
> Calculez la valeur de $y$ ($y = x^2 + 6x + 9$). Essayez d'utiliser différentes valeurs de $x$ et déterminez à quelle valeur de $x$ $y$ sera égal à 0.**

In [11]:
x=2
y= x**2 + 6*x + 9
print(y)
print("\n")
x=1
y= x**2 + 6*x + 9
print(y)
print("\n")
x=-3
y= x**2 + 6*x + 9
print(y)
print("\n")

25


16


0

**Exercise 03:** 
>    

     1. Déclarez votre âge sous forme de variable entière
     2. Déclarez votre taille en tant que variable flottante
     3. Déclarez une variable qui stocke la base et la hauteur d'un triangle. Calculez l'aire de ce triangle (aire = 0,5 x b x h).

In [ ]:
age = int(age)
taille = float(taille)
base = input("Entrer la base du triangle: ")
hauteur = input("Entrer la hauteur du triangle: ")
aire = 0.5 * float(base) * int(hauteur)
print(aire)

## *Astuce : recevoir les entrées de l'utilisateur *
**Pour recevoir une entrée de l'utilisateur, nous utilisons `input()`.**.

**Exemple**
Recevez deux nombres en entrée de l'utilisateur et calculez leur puissance :
```python
base = input("Entrez une base : ")
exposant = input("Entrez un exposant : ")
resultat = float(base) ** float(exposant)
print(f "{base} à la puissance {exposant} = {résultat}")
```

**Exercise 04:** 
> **Write a small code that asks the user to enter the side $a$, the side $b$ and the side $c$ of a triangle. Calculate the perimeter of the triangle (perimeter = a + b + c).**

In [5]:
a = input("saisissez la première partie du triangle: ")
b = input("saisissez la deuxième partie du triangle: ")
c = input("saisissez la troisième partie du triangle: ")
perimeter = int(a) + int(b) + int(c)
print("perimetre = "perimeter)

saisissez la première partie du triangle: 2
saisissez la deuxième partie du triangle: 2
saisissez la troisième partie du triangle: 2
6

**Exercise 05:** 
> **Obtenez la longueur et la largeur d'un rectangle à l'aide de l'invite. Calculer sa `superficie` et son `perimetre`.**

In [13]:
longueur = input("entrer la longueur: ")
largeur = input("entrer la largeur: ")
superficie = float(longueur) * float(largeur)
perimetre = float(longueur)  + float(largeur)
print("superficie = ", superficie)
print("perimetre = ", perimetre)

entrer la longueur: 12
entrer la largeur: 12
superficie =  144.0
perimetre =  24.0

**Exercice 06:** 
> **Obtenez le rayon d'un cercle en utilisant l'invite. Calculez l'aire (aire = pi x r x r) et la circonférence (c = 2 x pi x r) où pi = 3,14.**

In [16]:
rayon = input("entrer le rayon : ")
pi = 3.14
pi = float(pi)    
aire = pi * float(rayon) * float(rayon)
circonference = 2 * pi * float(rayon)
print("rayon = ", rayon)
print("circonférence = ", circonference)

entrer le rayon : 12
rayon =  12
circonférence =  75.36

**Exercice 07:**
> **Calculez la pente, l'ordonnée à l'origine en x et l'ordonnée à l'origine en $y$ de $y = 2x -2$.**

In [19]:
x_1 = 0
y = 2*x_1 - 2
y_1 = y
x_2 = 1
y = 2*x_2 - 2
y_2 = y
pente = (y_2 - y_1)/(x_2 - x_1)
print("la pente est : ", pente)
print("la pente à l'origine est: ", y_1)
print("la pente à l'ordonné est: ", y_2)

la pente est :  2.0
la pente à l'origine est:  -2
la pente à l'ordonné est:  0

**Exercice 08:** 
> **Rédigez un script qui demande à l'utilisateur d'entrer les heures et le taux horaire. Calculez la rémunération de la personne ?**

In [3]:
heure = input("entrer les heures: ")
taux_horaire = input("entrer le taux horaire: ")
remuneration = int(heure) * int (taux_horaire)
print("votre rémunération est: ", remuneration)

entrer les heures: 3
entrer le taux horaire: 2000
votre rémunération est:  6000

**Exercice 09:** 
> **Écrivez un script qui demande à l'utilisateur d'entrer le nombre d'années. Calculez le nombre de secondes qu'une personne peut vivre. Supposons qu'une personne puisse vivre cent ans.**

In [8]:
anne = input("entrer le nombre d'annee: ")
anne = int(anne)
if anne == 1:
    secondes = 31536000
    print("une personne peut vivre ", secondes)
if anne == 100 :
    seconde = secondes*100
    print("une personne peut vivre ", seconde)
else :
    secondes = anne * secondes
    print("une personne peut vivre ", secondes)

entrer le nombre d'annee: 2
une personne peut vivre  63072000

**Exercice 10:** 
> **Écrivez un script Python qui affiche le tableau suivant**

    1 1 1 1 1
    
    2 1 2 4 8
    
    3 1 3 9 27
    
    4 1 4 16 64
    
    5 1 5 25 125

In [36]:
liste = [1, 1, 1, 1, 1]
liste1 = [2, 1, 2, 4, 8]
liste2 = [3 ,1 ,3 ,9 ,27]
liste3 = [4, 1, 4, 16, 64]
LISTE = [5 ,1 ,5 ,25 ,125]
print(liste)
print(liste1)
print(liste2)
print(liste3)
print(LISTE)

[1, 1, 1, 1, 1]
[2, 1, 2, 4, 8]
[3, 1, 3, 9, 27]
[4, 1, 4, 16, 64]
[5, 1, 5, 25, 125]

**Exercise 11:** 
>**Attribuez aux variables `temps` et `distance` les valeurs $6.892$ et $19.7$. Calculer et afficher la valeur de la vitesse. Améliorer l'affichage en imposant un chiffre après la virgule.**

In [34]:
temps = 6.892
temps = float(temps)
distance = 19.7
distance = float(distance)
vitesse = temps * distance
vitesse = float(vitesse)
print(round(vitesse,1))

135.8

**Exercice 12:** 
> **Écrire un programme qui, à partir de la saisie d’un rayon et d’une hauteur, calcule levolume d’un cône droit.**

In [24]:
rayon = input("entrer le rayon : ")
hauteur = input("entrer la hauteur: ")
volume = float(rayon) * float(hauteur)/3
print("le volume est ", volume)

entrer le rayon : 2
entrer la hauteur: 5
le volume est  3.3333333333333335

**Exercise 13:** 
> **L'utilisateur donne un entier positif et le programme annonce combien de fois de suite cet entier est divisible par 2.**

In [42]:
entier = input("entrer un entier postif: ")
entier = int(entier)
n = 0
if entier/2 :
    n = n+1
    print("l'entier entrer est divisible: ", n, "fois")

entrer un entier postif: 1
l'entier entrer est divisible:  1 fois

**Exercise 14:** 
>**L'utilisateur donne un nombre entier entre 2 et 12, le programme donne le nombre de façons de le faire en lançant deux dés.**

**Exercice 15:** 
> **Utilisez la fonction d'entrée intégrée `input()` pour obtenir le `_prénom_`, le `_nom_`, le `_pays_d_origine` et l'`_age_` d'un utilisateur et stockez la valeur dans les noms des variables correspondantes.**

In [ ]:
prenom = input("saisissez le nom: ")
prenom = str(prenom)
nom = input("saisissez le prenom: ")
nom = str(nom)
pays_origine = input("saisissez le pays d'origine:  ")
pays_origine = str(pays_origine)
age =  input("saisissez l'age:  ")
age = int(age)

print("prenom =", prenom)
print("nom =", nom)
print("pays_origine =", pays_origine)
print("age =", age)

**Exercice 16:** 

**Déclarer $5$ comme `num_one` et $4$ comme `num_two`**

   1. Additionner `num_one` et `num_two` et affecter la valeur à une variable `totale`.
   2. Soustraire `num_two` de `num_one` et affecter la valeur à une variable `diff`.
   3. Multipliez le `num_one` et le `num_two` et attribuez la valeur à une variable `produit`.
   4. Divisez le `num_one` par le `num_two` et attribuez la valeur à une variable `division`.
   5. Calculez `num_one` à la puissance de `num_two` et attribuez la valeur à une variable `exp`.

In [ ]:
num_one = 5
num_two = 4
total = int(num_one) + int(num_two)
print(num_one, "+", num_two, "=", total)
diff = int(num_two) - int(num_one)
print(num_one, "-", num_two, "=", diff)
produit = int(num_one) * int(num_two)
print(num_one, "*", num_two, "=", produit)
division = int(num_one) / int(num_two)
print(num_one, "/", num_two, "=", division)
exp = int(num_one) ** int(num_two)
print(num_one, "**", num_two, "=", exp)

<center> <b> <span style="color:orange;"> 🎉 FÉLICITATIONS! 🎉 </span> </b></center>