In [17]:
n = input("enter a valide number: ")
n = int(n)
som = 0
produit = 1
for i in range(0,n-1):
    som += (i+3) 
print(som)    
for i in range(1,n-1):
    produit *= (i+3)
print(produit)

enter a valide number: 3
7
4

Exercice 2

In [6]:

n = input("enter number between 0 and 6 : ")
n = int(n)
while int(n) > 6 or int(n) < 0:
    n = input("enter number beetwen 0 and 6 : ")
if n == 0:
    print("Monday, working day!!")
if n == 1:
    print("Tuesday, working day!!")
if n == 2:
    print("wenesday, working day!!")
if n == 3:
    print("Thursday, working day!!")
if n == 4:
    print("Friday, working day!!")
if n == 7:
    print("Saturday, weekend !!")
if n == 6:
    print("Sunday, it's a weekend :)) !!")

enter number between 0 and 6 : 4
Friday, working day!!

Exercice 3

In [8]:
n = input("enter the month number : ")
n = int(n)
while int(n) > 11 or int(n) < 0:
    n = input("enter the month number between 0 and 11: ")
if n == 0 or n == 2 or n == 4 or n == 6 or n == 7 or n == 9 or n == 11:
    print("31 days !!")
if n == 3 or n == 5 or n == 8 or n == 10:
    print("30 days !!")
if n == 1:
    print("28 days !!")

enter the month number : 1
28 days !!

Exercice 4

In [9]:
name = "TETEDE"
for i in range(3):
    print(name)
    i += 1

TETEDE
TETEDE
TETEDE

In [10]:
name = "TETEDE"
i = 0
while i < 3:
    print(name)
    i += 1

TETEDE
TETEDE
TETEDE

Exercice 5

In [20]:
terms = input("enter a terms : ")

a_0, a_1 = 0, 1
count = 0

if int(terms) <= 0:
    print("enter a positive number: ")
if int(terms) == 1:
    print("Fibonacci sequences ", terms, ":")
    print(a_0)
else:
    print("Fibonacci sequence: ")
    while int(count) < int(terms):
        print(a_0)
        nombre = a_0 + a_1
        a_0 = a_1
        a_1 = nombre
        count += 1

enter a terms : 15
Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377

Exercice 6

In [5]:
x0 = 0
x1 = 1
print("\n les 30 premiers termes définies à partir de la séquence définie est:")
print(x0)
print(x1)
for i in range(0, 28):
    new = ((6*x0) + x1)/2
    print(new)
    x0 = x1
    x1 = new

 les 30 premiers termes définies à partir de la séquence définie est:
0
1
0.5
3.25
3.125
11.3125
15.03125
41.453125
65.8203125
157.26953125
276.095703125
609.8564453125
1133.21533203125
2396.177001953125
4597.7344970703125
9487.398254394531
18536.902618408203
37730.646072387695
74476.03089141846
150429.9536628723
298643.0695056915
600611.3957414627
1196234.906387806
2399951.640418291
4788680.539372563
9594195.190941155
19163139.213588268
38364155.1796176
76671495.2305736
153428213.15413958

Exercice 7

In [25]:
year = input("write a year: ")
year = int(year)
if (year % 400 == 0) and (year % 100 == 0):
    print("This year is a leap year")
elif (year % 4 == 0) and (year % 100 != 0):
    print("This year is a leap year")
else:
    print("This year is not a leap year")

write a year: 2000
This year is a leap year

In [7]:
year = input("write a year: ")
year = int(year)
if (year % 400 == 0) or (year % 4 == 0) and (year % 100 != 0):
    print("True")
else:
    print("false")

write a year: 2021
false

Exercice 8

In [31]:
n = input("enter your n numbers: ")
n = int(n)
som = 0
for i in range(0,n):
    som += (i**2) 
print(som)

enter your n numbers: 7
91

In [34]:
n = input("enter your n numbers: ")
n = int(n)
som = 0
i=0
while i < n:
    som += (i**2) 
    i+=1
print(som)

enter your n numbers: 7
91

Exercice 9

In [8]:
n = int(input("Entrer un nombre n :"))
l = list(range(1 , n+1))
for i in l :
    if n%i == 0 :
        print(i)

Entrer un nombre n :4
1
2
4

In [9]:
n = int(input("Entrer un nombre n :"))
s = 0
l = list(range(1 , n+1))
for i in l :
    if n%i == 0 :
        s = s + i
print(s)

Entrer un nombre n :5
6

Exercice 10

In [13]:
n = input("enter your n numbers: ")   
a = input("enter your stop number: ")
multiple = 0
for i in range(1, int(a)+1):
    mutiple = i * int(n)
    print(i, "*", n, "=", mutiple)

enter your n numbers: 5
enter your stop number: 34
1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50
11 * 5 = 55
12 * 5 = 60
13 * 5 = 65
14 * 5 = 70
15 * 5 = 75
16 * 5 = 80
17 * 5 = 85
18 * 5 = 90
19 * 5 = 95
20 * 5 = 100
21 * 5 = 105
22 * 5 = 110
23 * 5 = 115
24 * 5 = 120
25 * 5 = 125
26 * 5 = 130
27 * 5 = 135
28 * 5 = 140
29 * 5 = 145
30 * 5 = 150
31 * 5 = 155
32 * 5 = 160
33 * 5 = 165
34 * 5 = 170

Exercice 11

In [1]:
for i in range(1, 39):
    if(i%3 == 0) or (i%7 == 0) or (i%11 == 0):
        print(i)

3
6
7
9
11
12
14
15
18
21
22
24
27
28
30
33
35
36

Exercice 12

In [19]:
import math   
x = input("enter the values of x: ")
x = float(x)
func = math.floor(x)
  
print ("math.floor(x) : ", func)
if func == 1 + (func-1):
    print("its sactified :-)) ")
else:
    print("it's not sactified")

#print "math.floor(300.16) : ", math.floor(300.16)
#print "math.floor(300.72) : ", math.floor(300.72)

enter the values of x: 7.8
math.floor(x) :  7
it's not sactified

Exercice 13

In [23]:
x = input("x = ")
y = input("y = ")
x = int(x)
y = int(y)

if (x > 0 and y > 0):
    print ("lies in First quadrant")
elif (x < 0 and y > 0):
    print ("lies in Second quadrant")
elif (x < 0 and y < 0):
    print ("lies in Third quadrant")
elif (x > 0 and y < 0):
    print ("lies in Fourth quadrant")
elif (x == 0 and y > 0):
    print ("lies at positive y axis")
elif (x == 0 and y < 0):
    print ("lies at negative y axis")
elif (y == 0 and x < 0):
    print ("lies at negative x axis")
elif (y == 0 and x > 0):
    print ("lies at positive x axis")
else:
    print ("lies at origin")

x = 0
y = 7
lies at positive y axis

Exercice 14

In [ ]:
i = 0

while i != 1 :
    j = 0
    while j != 1 :
        x = int(input("Donner nombre entre 0 et 9 :"))
        if (x<0) or (x>9) :
            j = 0
        else :
            j = 1
    j = 0        
    while j != 1 :
        max = int(input("Donner nombre entre 0 et 255 :"))
        if max < 0 or max > 255 :
            j = 0
        else : 
            j = 1
    tab = []
    for l in range(1, max+1):
        if l%x == 0 :
            tab.append(l)
    print(tab)
    
    i = int(input("Reprendre oui (0) ou non (1) :"))